<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="./assets/sassofono.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{strumentiDetail?.nome}} </h5>
    <p class="card-text">{{strumentiDetail?.tipo}} </p>
    <strong>Prezzo: {{strumentiDetail?.prezzo}}.00 €</strong>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->



<!-- <ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
    <div>
      <h3>{{strumentiDetail?.nome}}</h3>
      <p>{{strumentiDetail?.tipo}}</p>
      <strong>{{strumentiDetail?.prezzo}}</strong>
    </div>
	</ng-template>
</ngb-carousel> -->
