<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="./assets/sassofono.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{strumentiDetail?.nome}} </h5>
    <p class="card-text">{{strumentiDetail?.tipo}} </p>
    <strong>Prezzo: {{strumentiDetail?.prezzo}}.00 €</strong>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->



<!-- <ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
    <div>
      <h3>{{strumentiDetail?.nome}}</h3>
      <p>{{strumentiDetail?.tipo}}</p>
      <strong>{{strumentiDetail?.prezzo}}</strong>
    </div>
	</ng-template>
</ngb-carousel> -->


<ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[0]" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>First slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[1]" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[2]" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<h3>Third slide label</h3>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
		</div>
	</ng-template>
</ngb-carousel>
